<li class="mdl-list__item" ng-repeat="foodMenu in foodMenus">
  <span class="mdl-list__item-primary-content">
    <!-- <i class="material-icons  mdl-list__item-avatar">person</i> -->
    {{foodMenu.name}}
  </span>
  <span class="mdl-list__item-secondary-action">
    <!-- <mdl-checkbox ng-model="clicked" ng-click="change()"></mdl-checkbox> -->
    <label class="mdl-checkbox mdl-js-checkbox" for="list-checkbox-20">
      <input type="checkbox" id="list-checkbox-20" class="mdl-checkbox__input" ng-click="change()" checked />
    </label>
  </span>
</li>
